#root {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
html, body{
  height: 100%;
}

@media (max-width: 720px){
  #root {
    align-items: center;
  }
}
